<a href="https://colab.research.google.com/github/Ty700/STAT_650/blob/main/Tyler_Scotti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# STAT650 HW1 Questions

Please complete the following questions at home. Use Python code cells to write your solutions.

### Question 1
First, write a Python function that converts a temperature from Celsius to Fahrenheit and a function that converts from Fahrenheit to Celsius. Then, test your functions on the values of 25C and 77F.

In [ ]:
# Define two functions
def c_to_f(temp) -> float:
    return (temp * (9/5)) + 32


def f_to_c(temp) -> float:
    return (temp - 32) * (5/9)


# Test the functions
assert c_to_f(25) == 77, "c_to_f is not working"
assert f_to_c(77) == 25, "f_to_c is not working"

### Question 2
Create a dictionary with the specified 5 key-value pairs. Print all keys and values separately.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

# Print all keys and values separately
for k in my_dict.keys():
    print(k)

for v in my_dict.values():
    print(v)

a
b
c
d
e
1
2
3
4
5

### Question 3
Write a Python program to generate a multiplication table (1 to 10) for numbers 1 to 5 using nested `for` loops.

In [ ]:
# Nested FOR loops
for i in range(1, 6):
  print(f"Multiplication table for {i}:")
  for j in range(1, 11):
    print(f"{i} * {j} = {i * j}")
  print()

Multiplication table for 1:
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Multiplication table for 2:
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

Multiplication table for 3:
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Multiplication table for 4:
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Multiplication table for 5:
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

### Question 4
Write a Python function that takes a list of integers and returns only the even numbers. Then test you function on the list: (1,2,3,4,5,6).

In [ ]:
# Define function
def filter_even(lst: list[int]) -> list[int]:
    return [x for x in lst if x % 2 == 0]

# Test the function and Print even numbers
assert filter_even([1, 2, 3, 4, 5, 6]) == [2, 4, 6], "filter_even is not working"
print(filter_even([1, 2, 3, 4, 5, 6]))

[2, 4, 6]

### Question 5
Use a `while` loop to print numbers from 10 down to 1. Use `-=`.

In [ ]:
n = 10
# your code
while n >= 1:
    print(n)
    n -= 1

10
9
8
7
6
5
4
3
2
1

### Question 6
Use as your data the sequence of whole numbers from 1 to 10. Write a Python program that prints your data with a `break` at i=8 and, and a `continue` statement for i=5.

In [ ]:
# Your code here
seq = range(1, 11)

for i in seq:
    if i == 8:
        break
    elif i == 5:
        continue
    print(i)

1
2
3
4
6
7

### Question 7
Write a Python function that uses recursion to calculate the factorial of a number. Test your function with 5.

In [ ]:
# Define factorial function
def factorial(n: int) -> int:
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

# Test the function on 5
assert(factorial(5) == 120), "factorial is not working"
print(factorial(5))

120